body{
	font-size: 1.24rem !important;
}
.outer {
	position: relative;
	/* top: 50%; */
	left: 50%;
	transform: translateX(-50%);
	padding: 0 10vw;
	/* background-color: blanchedalmond; */
}

.outerClean{
	padding:0 !important;
}

/* .leftcont:nth-child(even) {background-color: white;} */

.pehle {
	width: 100%;
}

.outerPehle {
	text-align: center;
	width: 100%;
	/* visibility: hidden; */
}

.Odd {
	background-color: rgba(153, 205, 50, 0.4);
}
.Even {
	background-color: rgba(46, 139, 86, 0.4);
}

.dropdownInner {
	margin-top: 20px;
	width: 20%;
	margin-left: 40vw;
	margin-right: 40vw;
}
.uploadFile {
	text-align: center;
	margin-bottom: 40px;
}

.buttons {
	margin-bottom: 10px;
}

.set {
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.audioPlayer {
	width: 70%;
}

.submitBefore {
	margin-top: 10px;
}

.recordComplete {
	text-align: center;
	width: 60%;
	margin: 0 20%;
}

.recordOuter {
	/* width:100%; */
	text-align: center !important;
}
.downloadButtons {
	margin-top: 10px !important  ;
}
.saveButton {
	margin-top: 10px;
}

.totalCard {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50%;
	width: 70%;
	box-shadow: 10px 10px 8px rgba(58, 58, 58, 0.3);
	border-radius: 10px;
	text-align: center;
}
.dropOuter {
	text-align: center !important;
}
.textArea {
	padding: 20px;
	margin-top: 20px;
}
.buttonTable {
	padding: 10px 30px;
	border-radius: 30px;
	border: none;
	margin-top: 20px;
}
.buttonText {
	font-size: 1rem;
	font-weight: 600;
}
.halfButton1 {
	padding: 10px 20px;
	border-radius: 30px 0 0 30px;
	border: none;
	margin-top: 10px;
}
.halfButton2 {
	padding: 10px 20px;
	border-radius: 0 30px 30px 0;
	border: none;
	margin-top: 10px;
}
.buttonSet {
	text-align: center !important;
}
.ButtonReview {
	margin-top: 10px;
	color: white !important;
	font-weight: 600;
}
.textReview {
	margin-top: 10px;
}
.Accept {
	background-color: rgb(50, 212, 36) !important;
}
.Review {
	background-color: rgb(243, 239, 12) !important;
}
.Reject {
	background-color: red !important;
}
.Remarks {
	margin-top: 10px !important;
	font-weight: 700;
}
.dropDown {
	text-align: center;
}
.dropdownhello {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 10px;
}
table,
th,
td {
	border: 0.2px solid black;
	border-collapse: collapse;
	/* text-align: center; */
}
td {
	padding: 3px;
}
th {
	padding: 3px 5px;
}
.outerDashboard {
	width: 100%;
	text-align: center;
}
.outerreview {
	text-align: center;
}
.ButtonReviewneeche {
	margin: 0 3px 10px 3px;
}
tr:nth-child(odd) {
	background-color: #c9c9c9;
}
.outerDash {
	width: 100% !important;
	text-align: left !important;
}
.tableDash {
	width: 90% !important;
	margin: 0 0% 0 6% !important;	
}

.button{
    padding:10px 40px;
    border-radius: 30px;
    border: none;
}
.buttonAssign{
	width:100%;
	padding:10px 40px;
	border: none;
	text-align: left;
	/* background-color: white; */

}
.button1{
	padding:10px 10px;
	/* border-radius: 30px;	 */
	border: none;
	background-color: orangered;
	color:white;
}
.buttonText{
    font-size: 1rem;
    font-weight: 600;
}
.ButtonReview{
	font-weight: 800;
    font-size: 1.2rem;

	
}
.Review
{
	color: black !important;
}
.carddash{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	/* background-color: rgb(236, 236, 236);
	 */
	 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	 padding:20px;
	border-radius: 20px;
	text-align: center;
	width: 80%;
}
.formButton{
	text-align: center !important;
	width:20% !important; 
	background-color:green;
	color:white;
}
.leftBox{
	float:left;
	width:50%;
	text-align: center;
}
.rightBox{
	float:right;
	width:50%;
	text-align: center;
}
.box{
	width:70%;	
	background-color: whitesmoke;
	padding:30px 30px;
	/* position: absolute;
	top:50%;
	transform: translateY(-50%); */
}
.buttonCreateDoc{
	background-color: orangered;
	color:white;
	font-size: 1.3rem;
}

/* Assign */
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;	font-family: "montserrat";
	cursor: pointer;
	margin-right: 10px;
  }
.dropdown {
	position: relative;
	display: inline-block;

  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  .dropdown:hover .dropbtn {
	background-color: #3e8e41;
  }

  th, td {
	padding: 10px;
	text-align: left;
  }
  th, td {
	border-bottom: 1px solid #ddd;
	text-align: left;
  }
 tr{
	 background-color: white !important;	
 }
tr:nth-child(odd) {background-color: #a5a5a5;}



.leftAssign{
	width:50%;
	float: left;
	text-align: center;
}
.rightAssign{
	width:50%;
	float: right;
	text-align: center;
}
.tableAssign{
	width:95%;
	overflow-x: auto;
	margin: 0 2.5%;
}
.cardReport{
	width:80% !important;
}
.option{
	padding:10px !important;
}
table{
	overflow-x: auto;
}


.tableAssign{
	/* width:60vw !important; */
}
.reporting{
	/* width:60% !important; */
}


.flexApproval{
	display: flex;
	width: 100%;
	height: 10% !important;
	justify-content: flex-end;
}

.tableApprove{
width: 100% !important;}

.ApproveTranslator{
	height:40vh !important;
	overflow: scroll;
}
.Search{
	margin-top: 20px;
}
.buttonSubmit{
	padding : 10px 20px;
	background-color: orangered;
	color: white;
	font-weight: 600;
	font-size:1rem;
	margin-top: 20px;
	border: none;
}

.outBox{
	width:100% !important;
	overflow-y: scroll;
}
.divTableOuter{
	overflow-y: scroll;
	height: 40vh;
}

.box{
	font-size:1.5rem;
	font-weight: 600;
	width:85% !important;
	height:80vh;

}


.overflowCard{
	height: 90vh;
	overflow-y: auto;
}

.cardTranslator{
	width:90vw !important;
}
.docBox{
}

.inputFieldSpeech{
	/* height:100% !important; */
	width:80%;
	font-weight: 700;
	font-size: 1.3rem;
}

.youtubeDiv{
	padding:0 1.5vw;
	float: left;
	width:45%;
	height:1000% !important;
	/* padding-bottom: 56.25%; */
	/* z-index: 0 !important; */
}
.vid{
height: 100% !important;
}
.outerPreview{
	text-align: center;
	
}
.preview{
	float:left;
	padding : 2px;
	width:45%;
	margin: 0 2vw 1vh 3vw;
	text-align: left;
	overflow-y: scroll;
	height:30vh;
	background-color: #ebe8e8;

}

.warning{
	font-weight: 500;
}