.outer{
  position: relative;
  /* top: 50%; */
  left:50%;
  transform: translateX(-50%);
  padding: 0 10vw;
  /* background-color: blanchedalmond; */
}
/* .leftcont:nth-child(even) {background-color: white;} */

.pehle{
  width:100%;
}

.outerPehle{
  text-align: center;
  width:100%;
  /* visibility: hidden; */
}

.Odd{
  background-color: rgba(153, 205, 50, 0.4);
}
.Even{
  background-color: rgba(46, 139, 86, 0.4);
}

.dropdownInner{ 
  margin-top:20px;
  width:20%;
  margin-left: 40vw; 
  margin-right: 40vw;
}
.uploadFile{
  text-align: center;
  margin-bottom: 40px;
}

.buttons{
  margin-bottom: 10px;
}

.set{
  width:100%     ;
  text-align: center; 
overflow: hidden;
}
.audioPlayer{
  width:70%;
}


.submitBefore{
  margin-top: 10px;
}


.recordComplete{
  text-align: center;
  width:60%;
  margin: 0 20%;
}

.recordOuter{
  /* width:100%; */
  text-align: center !important;
}
.downloadButtons{
  margin-top: 10px !important  ;
}
.saveButton{
  margin-top: 10px;
}

.totalCard{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height:50%;
  width:70%;
  box-shadow: 10px 10px 8px rgba(58, 58, 58, 0.3);
  border-radius: 10px;
  text-align: center;
}

.dropOuter{
text-align: center !important;
}


.start{
}
.textArea{
	padding:20px;
	margin-top: 20px;
}

.buttonTable{
    padding:10px 30px;
    border-radius: 30px;
	border: none;
	margin-top:20px;
}
.buttonText{
    font-size: 1rem;
    font-weight: 600;

}


.halfButton1{
	padding:10px 20px;
    border-radius: 30px  0 0 30px;
	border: none;
	margin-top:10px;
}
.halfButton2{
	padding:10px 20px;
    border-radius: 0  30px 30px 0;
	border: none;
	margin-top:10px;
}

.OutputRecord{
	/* visibility: hidden ; */
 	/* display: none ; */
}



.buttonSet{
	text-align: center !important;
}

.ButtonReview{
	margin-top: 10px;
	color:white !important;
	font-weight:600;
}

.textReview{
	margin-top: 10px;
}

.Accept{
background-color: rgb(50, 212, 36) !important;
}
.Review
{
	background-color: rgb(243, 239, 12) !important;
}
.Reject
{
	background-color: red !important;
}
.Remarks{
	margin-top: 10px !important;
	font-weight: 700;
}
.dropDown{
	text-align: center;
}
.dropdownhello{
	width:40%;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom:10px;
}

table, th, td {
	border: 0.2px solid black;
	border-collapse: collapse;

  }

td{
	padding: 3px;
}
th{
	padding:3px 3px;	
}
.outerDashboard
{
	width:100%;
	text-align:center ;
}
