.outer{
  position: relative;
  /* top: 50%; */
  left:50%;
  transform: translateX(-50%);
  padding: 0 10vw;
  /* background-color: blanchedalmond; */
}
/* .leftcont:nth-child(even) {background-color: white;} */

.pehle{
  width:100%;
}

.outerPehle{
  text-align: center;
  width:100%;
  /* visibility: hidden; */
}

.Odd{
  background-color: rgba(153, 205, 50, 0.4);
}
.Even{
  background-color: rgba(46, 139, 86, 0.4);
}

.dropdownInner{ 
  margin-top:20px;
  width:20%;
  margin-left: 40vw; 
  margin-right: 40vw;
}
.uploadFile{
  text-align: center;
  margin-bottom: 40px;
}

.buttons{
  margin-bottom: 10px;
}

.set{
  width:100%     ;
  text-align: center; 
overflow: hidden;
}
.audioPlayer{
  width:70%;
}


.submitBefore{
  margin-top: 10px;
}