.RecordText{
	color : black;
}

.outer{
	/* height:100vh; */
	/* background-color: green;	 */
}
.textAreaRecord{
	padding:20px 30px;
}
.right{
	text-align: center !important;
	width:62% !important;
	margin-left: 19%;
	margin-right: 19%;}

.completeRecord{
	/* width:60% !important;
	margin-left: 20%;
	margin-right: 20%; */
}
.record-section{
	width:100%;
}
