@media only screen and (min-width:768px){
	.card{
		width:30%;
	}
	.onPhone{
		visibility: hidden;
		display: none;
	}
}
@media only screen and (max-width:768px){
	.onPC{
		visibility: hidden;
		display: none;
	}
}

.card{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	/* background-color: rgb(236, 236, 236);
	 */
	 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	 padding:20px;
	border-radius: 20px;
	text-align: center;
	width: 70%;
	/* height:90vh; */
	overflow-y: scroll;
}


.cardTitle{
	font-weight:700;
}

input{
	width: 60%;
	margin-bottom: 20px;
	padding: 12px;
	/* text-align: center; */
	border: 1.4px solid rgb(119, 119, 119);
	border-radius: 2px;
	font-weight: 600;
	font-size:1.3rem;
  }
  
  .name{
	  width:27%;
  }
.lastName{
	margin-left: 1.5%;
}
.firstName{
	margin-right: 1.5%;
}
.registerButton{
	background-color: rgb(230, 230, 230);
	
	padding: 8px;

}
.registerButtonPhone{
	width:60%;
	border-radius: 50px;


}
.registerButtonPC{
	width:30%;
	border-radius: 40px;


}
.lastNamePhone{
	margin: 0 ;
	width:60%;
}
.firstNamePhone{
	margin: 0 ;
	width:60%;
}
