.recorder-box{
	width:100% !important;		
	text-align:center;
	padding:0 !important
	/* height: 10% !important; */
}
.recorder-library-box .duration * {
    color: #fff;
    font-size: 20px;
}
.recorder-library-box *	
{
	font-family: montserrat !important;
}
.reco-header  {
	visibility: hidden;
	display: none !important;
}
.recorder-box-inner
{
	min-height:170px !important;
	width:100% !important;			
	background-color: rgba(0, 119, 255, 0.411) !important;
	border-radius: 20px;
}
.help{
	visibility: hidden;
	display: none !important;
} 
.record-section{
	width:100% !important;
}
.audio-section>audio{
	position: relative;
	top:-58px !important;
	height:20px;
	
}
.duration{
	/* bottom:50px !important; */
}


.duration-section{
	/* height:40px !important;  */
	/* top:60px !important; */
	bottom:0 !important;
}
.mic-icon{
	margin-bottom:3px;
}
